@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
$font-family: 'Roboto', sans-serif;
$font-bold: 700;
$primary:#ccc;
$secondary: #FFF;

$theme-colors: (
    'primary': $primary,
    'secondary': $secondary,
)